<h1>CASHFLOW LIST</h1>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      {{!-- <th>Update</th>
      <th>Delete</th> --}}
    </tr>
  </thead>
  <tbody>
  {{#each cashflows as |cashflow|}}

      <tr data-id= {{cashflow.id}}>
        <td>{{cashflow.name}}</td>
        <td>{{cashflow.value}}</td>
      </tr>
  {{/each}}
</tbody>
</table>

<form class="update-cashflow">
<fieldset>
<input type="hidden" name='cashflow[id]' class="hide-id" value= {{cashflow.id}}>
<td><input type="text" name='cashflow[name]' class="input" value="{{cashflow.name}}"></td>
<td><input type="number" step="0.01" name='cashflow[value]' class="input" value= {{cashflow.value}}></td>
<td><input type="submit" name="submit" class="update-button" value="Update"></td>
</fieldset>
</form>
<form class='delete-cashflow'>
<fieldset>
<input type="hidden" name='cashflow[id]' value= {{cashflow.id}}>
<td><input type="submit" name="submit" class="delete-button" value="delete"></td>
</fieldset>
</form>
