<h1>CASHFLOW LIST</h1>
{{#each cashflows as |cashflow|}}

  <ul data-id={{cashflow.id}}></ul>
  <form class="update-cashflow">
    <fieldset>
      <input type="number" name='cashflow[id]' class="hide-id" value={{cashflow.id}}>
      <input type="text" name='cashflow[name]' class="input" value="{{cashflow.name}}">
      <input type="number" step="0.01" name='cashflow[value]' class="input" value={{cashflow.value}}>
      <input type="submit" name="submit" class="update-button" value="Update">
    </fieldset>
  </form>
  <form class='delete-cashflow'>
    <fieldset>
      <input type="number" name='cashflow[id]' class="hide-id" value={{cashflow.id}}>
      <input type="submit" name="submit" class="delete-button" value="delete">
    </fieldset>
  </form>
{{/each}}
